<% if @article.errors.any? %>
  <div class="alert alert-dark alert-dismiss fade show" role="alert">
    <p> The following errors prevented the article to be saved. </p>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>