<div class="about-container">
  <div class="full-screen">
    <div>
      <h1>About Page</h1>
      <br>
      <%= link_to 'More', articles_path, class: "btn btn-outline-light btn-lg" %>
    </div>
  </div>
</div>